// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post {
    margin: 10px;
    padding-top: 8px;
    border: solid 1px silver;
  }

.right {
    text-align: right;
}

.table-bordered {
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
}

.customer-post {
    margin-top: 80px;
}

.table {
    margin: 50px;
}