/* // Place all the styles related to the public/homes controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: https://sass-lang.com/*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*topページレイアウト部分↓*/
  .text-box {
    background-color: gold;
  }

  .link {
    text-align: right;
  }
/**/
/*新規投稿部*/
  .post {
    margin: 10px;
    padding-top: 8px;
    border: solid 1px silver;
  }
  .new-post {
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
  }

  .post_text {
    word-break: break-word;
    text-decoration: underline;
    text-decoration-color: silver;
    border: solid 1px silver;
    text-align: center;
    padding: 30px 0;
    margin: 15px;
  }
/**/
/*レスポンシブ対応*/
  @media screen and (max-width: 425px) {
   .text-box {
    width: 100%;
    margin: 0;
  }

  .link {
    text-align: right;
  }

  .new-post {
    padding: 0 2px;
  }

  .post {
    width: 80%;
    border: solid 100% silver;
  }

  }
/**/